### Various OS files
## OS X related
.DS_Store
.AppleDouble
.LSOverride
._*
## Linux related
*~

## Emacs files
# -*- mode: gitignore; -*-
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

### Python related files
## Byte-compiled / optimized / DLL files
 __pycache__/
*.py[cod]

## C extensions
*.o
*.so

## header files
include/confdefs.h
include/Judy.h
include/Wm4*.h
include/config.h
include/spatialindex/
include/spud
include/spud.h
include/spud_enums.h
include/tinystr.h
include/tinyxml.h
include/version.h
include/vtk.h


## Fortran extensions
*.mod

## directories
bin/
lib/
