### Various OS files
## OS X related
.DS_Store
.AppleDouble
.LSOverride
._*
## Linux related
*~

## Emacs files
# -*- mode: gitignore; -*-
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

### Python related files
## Byte-compiled / optimized / DLL files
 __pycache__/
*.py[cod]

## C extensions
*.o
*.so

## Fortran extensions
*.mod

## directories
bin/
include/*.*
lib/
