Point [0.8, -1] not found in netCDF file, missingdata.nc.
Point [1, -1] not found in netCDF file, missingdata.nc.
Point [0.8, -0.8] not found in netCDF file, missingdata.nc.
Point [1, -0.8] not found in netCDF file, missingdata.nc.
Point [0.8, -0.6] not found in netCDF file, missingdata.nc.
Point [1, -0.6] not found in netCDF file, missingdata.nc.
Point [0.8, -0.4] not found in netCDF file, missingdata.nc.
Point [1, -0.4] not found in netCDF file, missingdata.nc.
Point [0.8, -0.2] not found in netCDF file, missingdata.nc.
Point [1, -0.2] not found in netCDF file, missingdata.nc.
Point [0.8, 0] not found in netCDF file, missingdata.nc.
Point [1, 0] not found in netCDF file, missingdata.nc.
Point [0.8, 0.2] not found in netCDF file, missingdata.nc.
Point [1, 0.2] not found in netCDF file, missingdata.nc.
Point [0.8, 0.4] not found in netCDF file, missingdata.nc.
Point [1, 0.4] not found in netCDF file, missingdata.nc.
Point [0.8, 0.6] not found in netCDF file, missingdata.nc.
Point [1, 0.6] not found in netCDF file, missingdata.nc.
Point [0.8, 0.8] not found in netCDF file, missingdata.nc.
Point [1, 0.8] not found in netCDF file, missingdata.nc.
Point [0.8, 1] not found in netCDF file, missingdata.nc.
Point [1, 1] not found in netCDF file, missingdata.nc.
Point [0.8, -1] not found in netCDF file, missingdata.nc.
Point [1, -1] not found in netCDF file, missingdata.nc.
Point [0.8, -0.8] not found in netCDF file, missingdata.nc.
Point [1, -0.8] not found in netCDF file, missingdata.nc.
Point [0.8, -0.6] not found in netCDF file, missingdata.nc.
Point [1, -0.6] not found in netCDF file, missingdata.nc.
Point [0.8, -0.4] not found in netCDF file, missingdata.nc.
Point [1, -0.4] not found in netCDF file, missingdata.nc.
Point [0.8, -0.2] not found in netCDF file, missingdata.nc.
Point [1, -0.2] not found in netCDF file, missingdata.nc.
Point [0.8, 0] not found in netCDF file, missingdata.nc.
Point [1, 0] not found in netCDF file, missingdata.nc.
Point [0.8, 0.2] not found in netCDF file, missingdata.nc.
Point [1, 0.2] not found in netCDF file, missingdata.nc.
Point [0.8, 0.4] not found in netCDF file, missingdata.nc.
Point [1, 0.4] not found in netCDF file, missingdata.nc.
Point [0.8, 0.6] not found in netCDF file, missingdata.nc.
Point [1, 0.6] not found in netCDF file, missingdata.nc.
Point [0.8, 0.8] not found in netCDF file, missingdata.nc.
Point [1, 0.8] not found in netCDF file, missingdata.nc.
Point [0.8, 1] not found in netCDF file, missingdata.nc.
Point [1, 1] not found in netCDF file, missingdata.nc.
