<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>diamond</string>
	<key>CFBundleGetInfoString</key>
	<string>Diamond: Fluidity preprocessor</string>
	<key>CFBundleIdentifier</key>
	<string>scienceapps.diamond</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>diamond.icns</string>
	<key>CFBundleName</key>
	<string>Diamond</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSignature</key>
	<string>WRUN</string>
	<key>CFBundleVersion</key>
	<string>0.0.1.20070616</string>
</dict>
</plist>
