         244           1
           1           5        2442           8
           2          51        2306           8
           3          61           2           8
           4        1981         127           7
           5         740        1808           7
           6        2256         117           7
           7          36        2371           8
           8         114        2847           7
           9           5        1679           8
          10         143         142           5
          11           2          62           6
          12         131        2751           7
          13         119        2369           7
          14           7           6           8
          15         106         107           7
          16        2899          88           7
          17          72          73           6
          18           7           8           8
          19          46        2171           8
          20         124        1976           7
          21          35        2125           8
          22          93          92           7
          23           8         262           8
          24         152         153           5
          25          42          41           8
          26         100         101           7
          27          33        2082           8
          28         140           3           5
          29          78          77           6
          30          10        3069           8
          31         154         155           5
          32          38          37           8
          33          80          81           7
          34          10          11           8
          35          93          94           7
          36          49        2101           8
          37          65          64           6
          38          66          67           6
          39          84          85           7
          40          91        1900           7
          41          12          11           8
          42          85          86           7
          43        1551         118           7
          44          78           4           6
          45          12          13           8
          46          59          60           8
          47        1408        1908           7
          48          98        1720           7
          49          13          14           8
          50         104        2641           7
          51          57          58           8
          52          76          77           6
          53          14        1146           8
          54          71          70           6
          55         136         137           7
          56          60          61           8
          57        1804          32           8
          58         115        1506           7
          59         112        3216           7
          60        2726         116           7
          61          15        2591           8
          62         150         149           5
          63         146         145           5
          64          69          70           6
          65          17        1560           8
          66          59          58           8
          67         153         154           5
          68         130        1656           7
          69         144         143           5
          70          17        1852           8
          71         144         145           5
          72          54          55           8
          73          96          97           7
          74         151         152           5
          75         156           1           5
          76        1593         123           7
          77          18        1799           8
          78          83          84           7
          79         103         104           7
          80         129         130           7
          81         110        2761           7
          82          82          83           7
          83          52          53           8
          84        1615        1950           8
          85          51          52           8
          86          72          71           6
          87          55          56           8
          88          21        1652           8
          89         138        2113           7
          90          48          49           8
          91         137         138           7
          92          68          67           6
          93         155         156           5
          94          74          75           6
          95          21        2298           8
          96          62          63           6
          97          34        2671           8
          98          99        2296           7
          99          40        1287           8
         100          66          65           6
         101          22        1688           8
         102         139        2541           7
         103         134        2205           7
         104          95          96           7
         105        1685          23           8
         106         148         147           5
         107        2260         105           7
         108          32        2241           8
         109          42        2094           8
         110          87          88           7
         111          89        2461           7
         112        1742          25           8
         113         147         146           5
         114          46        3051           8
         115          43          44           8
         116         135         136           7
         117           4          79           7
         118          44          45           8
         119         134        2159           7
         120        1752          25           8
         121         128        2095           7
         122        2304          56           8
         123         126        2972           7
         124          26        2711           8
         125         101        1762           7
         126          48          47           8
         127         140         141           5
         128         102        1996           7
         129         108        2105           7
         130          27        1774           8
         131          95        2977           7
         132         142         141           5
         133         149         148           5
         134          68          69           6
         135          38        3208           8
         136          79          80           7
         137        1394        3170           8
         138          81          82           7
         139         113        1795           7
         140          76          75           6
         141          63          64           6
         142         150         151           5
         143          97          98           7
         144         109        2995           7
         145         121        2770           7
         146        1298        2012           8
         147        2089         108           7
         148          53          54           8
         149          73          74           6
         150          86        3174           7
         151        2336          40           8
         152          91        2964           7
         153          31        3091           8
         154         122        1641           7
         155         132        2896           7
         156        3041          30           8
         157          30        2997           8
         158          29        2654           8
         159         116        1408           7
         160        1506         114           7
         161         126         740           7
         162        1275         110           7
         163         119        1551           7
         164         124        1593           7
         165          19        3060           8
         166         123        1641           7
         167        1652          20           8
         168         111        1666           7
         169           6        1679           8
         170          24        1685           8
         171        1688        1187           8
         172          99        1720           7
         173          24        1742           8
         174          26        1752           8
         175        1762         102           7
         176         112        1795           7
         177          19        1799           8
         178        1804          31           8
         179        1852          18           8
         180          20        1950           8
         181        1976         125           7
         182         128        1981           7
         183         103        1996           7
         184          29        2012           8
         185        2082          34           8
         186         109        2089           7
         187         107        2105           7
         188         139        2113           7
         189        2125          36           8
         190        2159         135           7
         191          45        2171           8
         192         133        2205           7
         193          33        2241           8
         194         118        2256           7
         195         106        2260           7
         196         100        2296           7
         197        2298          22           8
         198          57        2304           8
         199          50        2306           8
         200          39        2336           8
         201         121        2369           7
         202          37        2371           8
         203        2442           1           8
         204          90        2461           7
         205          41        1287           8
         206        2541           3           7
         207        2591          16           8
         208         105        2641           7
         209         125        1808           7
         210        2654        1394           8
         211          35        2671           8
         212          27        2711           8
         213         117        2726           7
         214         129        2095           7
         215        2751         132           7
         216        2761         111           7
         217        2770         122           7
         218         115        1908           7
         219         113        2847           7
         220        2896         133           7
         221          89        2899           7
         222          43        2094           8
         223          39        3208           8
         224          50        2101           8
         225          92        1900           7
         226           9         262           8
         227          90        2964           7
         228         127        2972           7
         229          94        2977           7
         230         131        1656           7
         231        1275        2995           7
         232        1369        2997           8
         233        1298        3041           8
         234        3051          47           8
         235        1615        3060           8
         236           9        3069           8
         237          15        1146           8
         238        1369        3091           8
         239          28        1774           8
         240          16        1560           8
         241          23        1187           8
         242          28        3170           8
         243          87        3174           7
         244        1666        3216           7
