          46           1
           1           1           5           6
           2          32          33           7
           3           5           7           6
           4           7           8           6
           5           8         125           6
           6         261         141           6
           7          10          11           6
           8          11          12           6
           9          26          24           9
          10          18           1           9
          11          14          12           6
          12          20          21           9
          13          19          20           9
          14         111          24           9
          15         124          10           6
          16          30          32           7
          17         141         405           6
          18         278         406           9
          19          14           2           6
          20           3          17           8
          21          33          34           7
          22          29          27           9
          23           4          17           8
          24          34           4           7
          25          18          19           9
          26           3          29           9
          27          27          26           9
          28         185         385           6
          29           2          30           7
          30          44         238           6
          31         385         411           6
          32          44         411           6
          33         111         211           9
          34         211         327           9
          35         125         213           6
          36          98         407           9
          37         238         124           6
          38          98          21           9
          39         261         185           6
          40          22         291           9
          41         213         405           6
          42         278         407           9
          43         250         327           9
          44         116         406           9
          45          22         250           9
          46         291         116           9
